body {
    margin: 0;
}

.menu-toggle{
    width:64px;
    height:64px;
    cursor:pointer;
    position:fixed;
    right: 7rem; top: 1.2rem;

    z-index:101;
}

#logo {
    position: fixed;
    width: 64px; height: 64px;
    left: 7rem; top: 1.2rem;

    z-index: 100;
}

.hamburger,.cross{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius: 50%;
}
  
.hamburger span{
    display:block;
    width:18px;
    height:2px;
    margin-bottom:3px;
    overflow:hidden;
    position:relative;
    border-radius: 50%;
}
  
.hamburger span:last-child{
    margin:0;
}
  
.hamburger span:before,.hamburger span:after{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgb(15,15,15);
    border-radius: 50%;
    transform:translateX(-200%);
    transition:transform ease 300ms;
}
  
.hamburger span:after{
    transform:translateX(0);
    border-radius: 50%;
}
  
.hamburger span:nth-child(2):before,.hamburger span:nth-child(2):after{
    transition-delay:75ms;
}
  
.hamburger span:last-child:before,.hamburger span:last-child:after{
    transition-delay:150ms;
}
  
.menu-toggle:hover .hamburger span:before{
    transform:translateX(0);
}
  
.menu-toggle:hover .hamburger span:after{
    transform:translateX(200%);
}
  
.menu-toggle.active .hamburger span:before{
    transform:translateX(100%);
}
  
.menu-toggle.active .hamburger span:after{
    transform:translateX(200%);
}
  
.cross span{
    display:block;
    width:18px;
    height:2px;
    background-color:rgb(15,15,15);
    transform:translateY(50%) rotate(45deg) scaleX(0);
    border-radius: 50%;
    transition:transform ease 200ms;
}
  
.cross span:last-child{
    transform:translateY(-50%) rotate(-45deg) scaleX(0);
}
  
.menu-toggle.active .cross span{
    transition-delay:450ms;
    transform:translateY(50%) rotate(45deg) scaleX(1);
}
  
.menu-toggle.active .cross span:last-child{
    transform:translateY(-50%) rotate(-45deg) scaleX(1);
}

#nav-bg[data-navigation="true"] {
    position: fixed;
    width: 85%; height: 50%;
    left: 50%; top: 0.75rem;
    transform: translate(-50%, 0);

    background-color: white;
    border-radius: 10px;

    z-index: 99;
}

#nav-backdrop[data-navigation="true"] {
    position: fixed;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 98;
}