@font-face {
    font-family: 'Harmond';
    src: url('../../assets/fonts/Harmond-SemiBoldCondensed.woff2') format('woff2'),
        url('../../assets/fonts/Harmond-SemiBoldCondensed.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Harmond';
    src: url('../../assets/fonts/Harmond-ExtraBoldExpanded.woff2') format('woff2'),
        url('../../assets/fonts/Harmond-ExtraBoldExpanded.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Harmond';
    src: url('../../assets/fonts/Harmond-SemBdItaCond.woff2') format('woff2'),
        url('../../assets/fonts/Harmond-SemBdItaCond.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Harmond';
    src: url('../../assets/fonts/Harmond-ExtBdItaExp.woff2') format('woff2'),
        url('../../assets/fonts/Harmond-ExtBdItaExp.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

#heroBg {
    position: absolute;
    width: 200%; height: 90vh;

    transform: translate(-25%);
    background-color: #232220;

    overflow: hidden;

    border-radius: 0px 0px 50% 50%;
}

#heroBanner {
    position: absolute;
    width: 80rem; height: 80%;
    object-fit: cover;
    object-position: 0px 0px;

    left: 50%; top: 50rem;
    transform: translate(-50%, 0);

    border-radius: 20px;

    z-index: 2;
    filter: drop-shadow(rgba(0, 0, 0, 0.5) 1px 1px 20px);

    animation: fadeInScaleDown 2.5s ease forwards;
}

#heroTitle {
    position: absolute;
    left: 5vw; top: 10vh;

    color: white;

    font-family: 'Harmond';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    font-size: 15vh;
}

#heroDecor {
    position: absolute;
    width: 100%;
    object-fit: cover;

    filter: invert(100%);
    transform: scale(0.5) translate(0, -19%);

    opacity: 20%;
}