#heroBanner {
    position: absolute;
    width: 50%; height: 60%;
    object-fit: cover;

    left: 12rem; top: 1.9rem;

    border-radius: 20px;

    z-index: 2;
    filter: drop-shadow(rgba(0, 0, 0, 0.5) 1px 1px 20px);

    animation: fadeInScaleDown 2.5s ease forwards;
}

@keyframes fadeInScaleDown {
    0% {
        width: 72.5%; height: 60%;
        left: 12rem; top: 10rem;
        opacity: 0;
    }

    15% {
        opacity: 0;
    }

    50% {
        top: 1.9rem;
        width: 72.5%;
    }

    100% {
        width: 50%; height: 60%;
        left: 12rem; top: 1.9rem;
        opacity: 1;
    }
}