@font-face {
    font-family: 'Harmond';
    src: url('assets/fonts/Harmond-SemiBoldCondensed.woff2') format('woff2'),
        url('assets/fonts/Harmond-SemiBoldCondensed.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Harmond';
    src: url('assets/fonts/Harmond-ExtraBoldExpanded.woff2') format('woff2'),
        url('assets/fonts/Harmond-ExtraBoldExpanded.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Harmond';
    src: url('assets/fonts/Harmond-SemBdItaCond.woff2') format('woff2'),
        url('assets/fonts/Harmond-SemBdItaCond.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Harmond';
    src: url('assets/fonts/Harmond-ExtBdItaExp.woff2') format('woff2'),
        url('assets/fonts/Harmond-ExtBdItaExp.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

#heroBg {
    position: absolute;
    width: 75vw; height: 70vh;
    left: 50%; top: 50%;

    transform: translate(-50%, -50%);
    background-image: url('assets/images/restaurant-breakfast.jpg');
    background-size: 100%;
    background-position: 0%;
    background-repeat: no-repeat;

    overflow: hidden;
    opacity: 0.5;

    border-radius: 40px;
}

#heroBanner {
    position: absolute;
    width: 80rem; height: 80%;
    object-fit: cover;
    object-position: 0px 0px;

    left: 50%; top: 150%;
    transform: translate(-50%, 0);

    border-radius: 40px;

    z-index: 2;
    filter: drop-shadow(rgba(0, 0, 0, 0.5) 1px 1px 20px);

    animation: fadeInScaleDown 2.5s ease forwards;
}

#heroTitle {
    position: absolute;
    left: 5vw; top: 10vh;

    color: white;

    font-family: 'Harmond';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    font-size: 20vh;
}

#heroTitle2 {
    position: absolute;
    right: 5vw; top: 33vh;

    color: white;

    font-family: 'Harmond';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    font-size: 15vh;
}

#heroMotto {
    position: absolute;
    left: 50%; top: 70%;
    transform: translate(-50%, 0%);

    font-family: 'Harmond';
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    font-size: 4vh;

    color: white;
}

#scrollButton {
    position: absolute;
    right: 2vw; top: 65vh;

    width: 50vh; height: 50vh;
    backdrop-filter: blur(3px);

    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 50%;

    cursor: pointer;

    overflow: hidden;

    transition: 0.5s ease;
}

#scrollButton:hover {
    transform: scale(0.8) rotate(15deg);
}

#scrollButton:hover > #scrollButtonHoverCircle {
    left: 0%; top: 0%;
}

#scrollButtonHoverCircle {
    position: absolute;
    left: -100%; top: -100%;

    width: 50vh; height: 50vh;
    background-color: white;

    border-radius: 50%;
    pointer-events: none;

    transition: 0.5s ease;
}

#scrollArrow {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);

    font-size: 15vh;

    mix-blend-mode: difference;
}